<p id="notice"><%= notice %></p>

<h1>Consultants</h1>

<%= link_to 'New Consultant', new_consultant_path, class: "btn btn-primary", style: "float: right;" %>

<br>

<% cache 'current_consultants_table', skip_digest: true do %>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Name/ID</th>
        <th>Email</th>
        <th>Bio</th>
        <th>Twitter</th>
        <th>Facebook</th>
        <th>Instagram</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% if @consultants.blank? %>
        <tr><td>No Consultants registered</td></tr>        
      <% else %>
        <% @consultants.each do |consultant| %>
          <tr>
            <td>
              <% if consultant.name? %>
                <%= label_tag(consultant.name) %>
              <% else %>
                <%= label_tag(consultant.id) %>
              <% end %>
            </td>
            <td><%= consultant.email %></td>
            <td><%= consultant.bio %></td>
            <td><%= consultant.twitter_handle %></td>
            <td><%= consultant.facebook_url %></td>
            <td><%= consultant.instagram_handle %></td>
            <td><%= link_to 'Show', consultant, class: "btn btn-primary" %></td>          
            <td><%= link_to 'Edit', edit_consultant_path(consultant), class: "btn btn-primary" %></td>
            <td><%= link_to 'Destroy', consultant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>


